.headerContainer{
    display: flex;
    height: 100vh;
    border: 1px solid black;
    padding: 2%;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    background-color: black;
    color: white;
}