
.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    align-items: center;
}

.text{
    font-weight: 30px;
}
.link{
    display: flex;
    gap: 10%;
    color: white;
}

.icon{
    font-size: 25px;
}

.active{
    color: var(--subColor);
}

.logButton{
    background-color: var(--mainColor);
    padding: 5%;
    text-align: center;
    border: none;
    width: 120%;
}

@media screen and (max-width:1200px) {
    .text{
        display: none;
    }

    .logButton{
        width: 200%;
    }
}
